

.codezoom {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 24px;
    height: 24px;
    background: url(images/codezoom.png) no-repeat;
    cursor: pointer;
}

.highlight pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #444343;
    border-radius: 3px;
}

.pop_highlight {
    font-size: 2em;
    overflow-y: scroll;
    margin: 0;
    height: 100%;
    padding: 0;
}

.pop_highlight .codezoom {
    display: none;
}

.highlight, .highlight code {
    word-wrap: break-word;
    font-family: Monaco, Menlo, "Ubuntu Mono", consolas, source-code-pro, "Courier New", monospace;
    font-weight: 700;
}

.highlight .hll {
    background-color: #ffc
}

.highlight .c {
    color: #BC9357;

}

.highlight .err {
    color: #E6E1DC;

}

.highlight .g {
    color: #E6E1DC;

}

.highlight .k {
    color: #457898;

}

.highlight .l {
    color: #E6E1DC;

}

.highlight .n {
    color: #E6E1DC;

}

.highlight .o {
    color: #E6E1DC;

}

.highlight .x {
    color: #E6E1DC;

}

.highlight .p {
    color: #E6E1DC;

}

.highlight .cm {
    color: #BC9357;

}

.highlight .cp {
    color: #BC9357;

}

.highlight .c1 {
    color: #BC9357;

}

.highlight .cs {
    color: #BC9357;

}

.highlight .gd {
    color: #E6E1DC;
    font-weight: bold;
    background-color: teal
}

.highlight .ge {
    color: #E6E1DC;

}

.highlight .gr {
    color: #FFFFFF;
    background-color: #900
}

.highlight .gh {
    color: #E6E1DC;
    font-weight: bold;
}

.highlight .gi {
    color: #E6E1DC;
    font-weight: bold;
    background-color: #144212
}

.highlight .go {
    color: #8a2be2;
    font-weight: bold;

}

.highlight .gp {
    color: #E6E1DC;

}

.highlight .gs {
    color: #E6E1DC;

}

.highlight .gu {
    color: #E6E1DC;
    font-weight: bold;

}

.highlight .gt {
    color: #ffffff;
    background-color: red
}

.highlight .kc {
    color: #CC7733;

}

.highlight .kd {
    color: #CC7733;

}

.highlight .kn {
    color: #CC7733;

}

.highlight .kp {
    color: #ce694e;

}

.highlight .kr {
    color: #CC7733;

}

.highlight .kt {
    color: #CC7733;

}

.highlight .ld {
    color: #E6E1DC;

}

.highlight .m {
    color: #E6E1DC;

}

.highlight .s {
    color: #99ad6a;

}

.highlight .na {
    color: #FFC66D;

}

.highlight .nb {
    color: #90c0db;

}

.highlight .nc {
    color: #feb769;

}

.highlight .no {
    color: #feb769;

}

.highlight .nd {
    color: #E6E1DC;

}

.highlight .ni {
    color: #E6E1DC;

}

.highlight .ne {
    color: #E6E1DC;

}

.highlight .nf {
    color: #FFC66D;

}

.highlight .nl {
    color: #E6E1DC;

}

.highlight .nn {
    color: #E6E1DC;

}

.highlight .nx {
    color: #E6E1DC;

}

.highlight .py {
    color: #E6E1DC;

}

.highlight .nt {
    color: #CC7733;

}

.highlight .nv {
    color: #c5b8fc;

}

.highlight .ow {
    color: #E6E1DC;

}

.highlight .w {
    color: #E6E1DC;

}

.highlight .mf {
    color: #E6E1DC;

}

.highlight .mh {
    color: #E6E1DC;

}

.highlight .mi {
    color: #ce694e;

}

.highlight .mo {
    color: #E6E1DC;

}

.highlight .sb {
    color: #9aac6d;

}

.highlight .sc {
    color: #9aac6d;

}

.highlight .sd {
    color: #9aac6d;

}

.highlight .s2 {
    color: #9aac6d;

}

.highlight .se {
    color: #9aac6d;

}

.highlight .sh {
    color: #9aac6d;

}

.highlight .si {
    color: #9aac6d;

}

.highlight .sx {
    color: #9aac6d;

}

.highlight .sr {
    color: #9aac6d;

}

.highlight .s1 {
    color: #9aac6d;

}

.highlight .ss {
    color: #7699d4;

}

.highlight .bp {
    color: #E6E1DC;

}

.highlight .vc {
    color: #c5b8fc;

}

.highlight .vg {
    color: #c5b8fc;

}

.highlight .vi {
    color: #c5b8fc;

}

.highlight .il {
    color: #E6E1DC;

}
