---
layout: default
title: 停下来，思考是进步的本质，立志要如山，行道要如水
---
<div class="wp">

    <div id="post_list">

        <ul>
            {% for post in paginator.posts %}
            <li>
                <h3 class="clearfix"><span class="date fr"></span>
                    <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
                </h3>
            </li>
            {% endfor %}
        </ul>

    </div>

</div>


{% if paginator.previous_page %}
{% if paginator.previous_page == 1 %}
<div id="pre_page"><a title="上一页" href="/">上一页</a></div>
{% else %}
<div id="pre_page"><a title="上一页" href="/blog/page{{ paginator.previous_page }}">上一页</a></div>
{% endif %}
{% endif %}

{% if paginator.next_page %}
<div id="next_page"><a title="下一页" href="/blog/page{{ paginator.next_page }}">下一页</a></div>
{% endif %}


