---
layout: default
title: 停下来，思考是人进步的本质
---
<div class="wp clearfix">

    <div id="content">

        <ul>
         {% for post in paginator.posts %}
            <li><h3 class="clearfix"><span class="fr">发布于{{ post.date | date: "%Y年/%m月/%d日" }}</span><a title="进去吧" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3><a title="进去吧,果断的进去" class="content-link" href="{{ site.baseurl }}{{ post.url }}"><p>{{post.excerpt}}</p></a></li>
         {% endfor %}
        </ul>

    </div>

</div>

{% if paginator.previous_page %}
{% if paginator.previous_page == 1 %}
<div id="pre_page"><a title="上一页" href="/">上一页</a></div>
{% else %}
<div id="pre_page"><a title="上一页" href="/blog/page{{ paginator.previous_page }}">上一页</a></div>
{% endif %}
{% endif %}

{% if paginator.next_page %}
<div id="next_page"><a title="下一页" href="/blog/page{{ paginator.next_page }}">下一页</a></div>
{% endif %}


