/**----------------- common ------------------------*/

* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}


a {
    color: rgb(124, 175, 60);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #000;
}

body {
    color: #333332;
    line-height: 1.428;
    font-size: 18px;
    font-family: "microsoft yahei", "宋体";
}

.clearfix:after, .clearfix:before {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}


h1,h2,h3,h4,h5 {
    font-weight: 700;
    color: #333332;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

.wp {
    width: 960px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


/**----------------- common ------------------------*/



/** ----------- index -------------------*/
.theme-topic {
    font-size: 30px;
    color: rgb(51, 51, 50);
    padding-top: 35px;
}


hr {
    margin: 10px 0;
    border-top-color: rgb(124, 175, 60);
    border-top-style: solid;
    border-top-width: 4px;
}

#photo-container {
    border-radius: 50%;
    overflow: hidden;
    width: 220px;
    height: 220px;
    margin-right: 20px;
}

#photo-container img {
    max-width: 100%;
    height: auto;
}

#content {
    width: 700px;
}


#content li {
    margin-bottom: 25px;
}



#aside {
    width: 220px;
}

.widget {
    margin-bottom: 20px;
}



/**-----------------------article---------------------------- */
#article {
    padding-bottom: 30px;
}

#article ul {
    list-style:inside disc;
}

#article p {
    margin-bottom: 27px;
    text-indent: 2em;
}

#article h2 {
    margin-bottom: 40px;
}

#article h3 {
    margin-bottom: 20px;
}

.highlight {
font-size: 0.8em;
line-height: 1.5;
font-weight: bold;
padding: 0.3em 0.5em;
margin-top: 0.6em;
margin-bottom: 2em;
}
.highlight, p code, h4 code, li code {
word-wrap: break-word;
font-family: Monaco, Monospace;
font-weight: 700;
}
.highlight {
background: #151515;
color: #E6E1DC;
background-color: #151515;
border-radius: 5px;
}

