/**----------------- common ------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.428;
    font-size: 16px;
    color: #333332;
}



ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #333332;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 13px;
}

.clearfix:after, .clearfix:before {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.wp {
    width: 750px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#left-nav {
    background-color: #eee;
    position: fixed;
    width: 244px;
    top: -20px;
    bottom: 0px;
}


.to_top {
    width: 48px;
    height: 48px;
    background: url("images/up.png");
    cursor: pointer;
    bottom: 200px;
    opacity: 0;
    position: fixed;
    right: -60px;
    z-index: 200;
}

.me {
    width: 48px;
    height: 48px;
    background: url("images/me.png");
    cursor: pointer;
    bottom: 30px;
    opacity: 1;
    position: fixed;
    z-index: 200;
}

.date {
    font-size: 14px;
    color: #aaa;
}

.pop_shadow {
    opacity: 0.5;
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 9999;
    visibility: hidden;
}

.pop {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000;
    border: 2px solid #000;
    background: #fff;
    visibility: hidden;
}

.pop .close_tag {
    position: absolute;
    right: -11px;
    top: -13px;
    width: 32px;
    height: 32px;
    background: url(images/close.png) no-repeat;
    cursor: pointer;
    z-index: 300;
}

.pop .content {
    height: 100%;
}

#profile_wp {
    position: relative;
    height: 550px;
    width: 950px;
    padding: 25px;
}

.profile {
    height: 100%;
    position: absolute;
}

.profile .frame {
    width: 950px;
    height: 100%;
}

.profile .contact {
    padding: 10px;
    width: 150px;
    background: #ccc;
    margin-bottom: 20px;
}

.profile .profile_img {
    height: 100%;
    position: relative;
}

.profile .profile_img img {
    width: 100%;
}

.profile .img_desc {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
}

#profile_wp .frame_wp {
    overflow: hidden;
    width: 950px;
    height: 100%;
    position: relative;
}

#profile_wp a {
    color: #7CAF3C;
    text-decoration: none;
}

#profile_wp a:hover {
    color: #fff;
    text-decoration: none;
    background: #7CAF3C;
}

.slide_pre, .slide_next {
    position: absolute;
    top: 50%;
    margin-top: -24px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.slide_pre {
    left: -60px;
    background: url("images/slide_left.png");
}

.slide_next {
    right: -70px;
    background: url("images/slide_right.png");
}

/**----------------- common ------------------------*/

/** ----------- index -------------------*/


#pre_page, #next_page {
    width: 64px;
    height: 64px;
    position: fixed;
    bottom: 100px;
    opacity: 0;
    z-index: 2;
}

#pre_page {
    background: url("images/pre.png");
    left: 10px;
}

#next_page {
    background: url("images/next.png");
    right: 10px;
}

#pre_page:hover, #next_page:hover {
    opacity: 1 !important;
}

#pre_page a, #next_page a {
    display: block;
    width: 64px;
    overflow: hidden;
    line-height: 200px;
    height: 64px;
}

#post_list a {
    color: #040404;
    text-decoration: none;
}

#post_list a:hover {
    text-decoration: underline;
}

#post_list h3 {
    margin-bottom: 10px;
}

#post_list li {
    margin-top: 20px;
    margin-bottom: 25px;
    background: #eee;
    padding: 10px;
}

#post_list li:hover {
    background: #D3D8CA;
}

#post_list li p {
    text-indent: 2em;
}

#post_list li .post_link {
    color: #333332;
}

#post_list li .post_link:hover {
    text-decoration: none;
}

/**-----------------------article---------------------------- */
#article {
    padding-bottom: 30px;
}

#article ul {
    list-style: inside disc;
    margin-bottom: 20px;
}

#article ol {
    list-style: inside decimal;
    margin-bottom: 20px;
}

#article p {
    margin-bottom: 20px;
}

#article h1 {
    margin-top: 25px;
    margin-bottom: 18px;
}

#article h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

#article h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}

#article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    width: 100%;
}

#article a {
    color: #040404;
    text-decoration: none;
}

#article a:hover {
    text-decoration: underline;
}
