
.linux {
    width: 48px;
    height: 48px;
    background: url("images/menu/linux.png");
    cursor: pointer;
    bottom: 140px;
    position: fixed;
    z-index: 200;
}


.mac {
    width: 48px;
    height: 48px;
    background: url("images/menu/mac.png");
    cursor: pointer;
    bottom: 200px;
    position: fixed;
    z-index: 200;
}

.me {
    width: 48px;
    height: 48px;
    background: url("images/menu/me.png");
    cursor: pointer;
    bottom: 260px;
    position: fixed;
    z-index: 200;
}

.docker {
    width: 48px;
    height: 48px;
    background: url("images/menu/docker.png");
    cursor: pointer;
    bottom: 320px;
    position: fixed;
    z-index: 200;
}

.home {
    width: 48px;
    height: 48px;
    background: url("images/menu/home.png");
    cursor: pointer;
    bottom: 380px;
    position: fixed;
    z-index: 200;
}


.git {
    width: 48px;
    height: 48px;
    background: url("images/menu/git.png");
    cursor: pointer;
    bottom: 440px;
    position: fixed;
    z-index: 200;
}

.kubernetes {
    width: 48px;
    height: 48px;
    background: url("images/menu/kubernetes.png");
    cursor: pointer;
    bottom: 500px;
    position: fixed;
    z-index: 200;
}

.vim {
    width: 48px;
    height: 48px;
    background: url("images/menu/vim.png");
    cursor: pointer;
    bottom: 560px;
    position: fixed;
    z-index: 200;
}


.regular {
    width: 48px;
    height: 48px;
    background: url("images/menu/re.png");
    cursor: pointer;
    bottom: 620px;
    position: fixed;
    z-index: 200;
}

