<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="/sentence.js"></script>
<script type="text/javascript" src="/script.js"></script>

<script id="profile_html" type="text/template">
    <div id="profile_wp">
        <div class="frame_wp">
            <ul class="profile">

                <li class="fl frame">
                    <div class="contact fl">
                        <h2><a href="http://weibo.com/u/1894517483">我的微博</a></h2>

                        <h2><a href="https://github.com/oojdon">我的github</a></h2>
                    </div>
                    <div class="profile_img fr"><img src="/images/me.png"/>

                        <div class="img_desc">要是我有这样漂亮的baby该多好</div>
                    </div>
                </li>


                <li class="fl frame">
                    <div class="profile_img"><img src="/images/hp.png"/>

                        <div class="img_desc">2009-2011我在这里工作，全英文办公，流程复杂，代码严谨，有点官僚，这是留给我的记忆</div>
                    </div>

                </li>

                <li class="fl frame">
                    <div class="profile_img"><img src="/images/hz.png"/>

                        <div class="img_desc">2011年4月我来到了白娘子和许仙认识的地方，加入了一个创业公司，见证了第一行代码的产生</div>
                    </div>

                </li>

                <li class="fl frame">
                    <div class="profile_img"><img src="/images/sz.png"/>

                        <div class="img_desc">世界末日那一年，我们转战到QQ诞生的这个城市</div>
                    </div>

                </li>


            </ul>
        </div>
    </div>
</script>
</body>
</html>
