<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/main.css"/>
    <link rel="stylesheet" href="/code.css"/>
    <title>{{page.title}}</title>
</head>

<body>

<div id="head_wrapper">
    <section id="head_section" class="wp clearfix">
        <div id="photo_container" class="fl">
            <img title="点击，了解我" src="/images/baby.jpg"/>
        </div>
        <div class="theme_topic fr">
            <p class="sentence_current"></p>

            <p></p>
        </div>
    </section>
</div>

<div class="position_control">
    <hr id="line">
    <div class="wp"><a href="/" title="回首页"></a><span id="arrow_panel"></span></div>
</div>

