<script id="profile_html" type="text/template">
    <div id="profile_wp">
        <div class="frame_wp">
            <ul class="profile">

                <li class="fl frame">
                    <div class="contact fl">
                        <h2><a href="vsmysee@gmail.com" target="_blank">我的email</a></h2>
                        <h2><a href="https://github.com/vsmysee" target="_blank">我的github</a></h2>
                    </div>
                    <div class="profile_img fr"><img src="/images/aboutme.jpg" width="750" height="500"/>

                        <div class="img_desc">一个标准的码农</div>
                    </div>
                </li>

                <li class="fl frame">
                    <div class="profile_img"><img src="/images/idol.jpg"/>

                        <div class="img_desc">挺喜欢这三个人，爱因斯坦，松本行弘，哥德尔，想象力大于逻辑推理</div>
                    </div>

                </li>


            </ul>
        </div>
    </div>
</script>