<script id="profile_html" type="text/template">
    <div id="profile_wp">
        <div class="frame_wp">
            <ul class="profile">

                <li class="fl frame">
                    <div class="contact fl">
                        <h2><a href="http://weibo.com/u/1894517483" target="_blank">我的微博</a></h2>

                        <h2><a href="https://github.com/vsmysee" target="_blank">我的github</a></h2>
                    </div>
                    <div class="profile_img fr"><img src="/images/me.jpg"/>

                        <div class="img_desc">这就是我，一个标准的码农，经常被代码感动</div>
                    </div>
                </li>


                <li class="fl frame">
                    <div class="profile_img"><img src="/images/hp.jpg"/>

                        <div class="img_desc">2009-2011我在这里工作，全英文办公，流程复杂，代码严谨，有点官僚，这是她留给我的记忆</div>
                    </div>

                </li>


                <li class="fl frame">
                    <div class="profile_img"><img src="/images/ejs.jpg"/>

                        <div class="img_desc">然后，我开始加入创业公司，见证第一行代码的产生</div>
                    </div>

                </li>

                <li class="fl frame">
                    <div class="profile_img"><img src="/images/jimu.png"/>

                        <div class="img_desc">现在我在这里甘洒热血</div>
                    </div>

                </li>


                <li class="fl frame">
                    <div class="profile_img"><img src="/images/idol.jpg"/>

                        <div class="img_desc">挺喜欢这三个人，爱因斯坦，松本行弘，哥德尔，想象力大于逻辑推理</div>
                    </div>

                </li>


            </ul>
        </div>
    </div>
</script>