<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link rel="stylesheet" href="http://www.codingbaby.com/main.css"/>
    <title>{{page.title}}</title>
</head>

<body>

<section class="wp clearfix">
    <div id="photo-container" class="fl">
        <a href="/"><img src="http://c7.se/images/peter_hellberg.jpg"/></a>
    </div>
    <div class="theme-topic">在信息时代，如果你想研发什么新的技术，你不需要几百万美元的资金，你只需要在冰箱里放满比萨和可乐，再有一台便宜的计算机，和与之献身的决心，你即可拥有任何你想拥有的编程境界！</div>
</section>

<hr/>
<article id="article" class="wp">

<h1>{{page.title}}</h1>

<h2>{{page.desc}}</h2>

{{content}}
</article>

</body>
</html>
