{% include head.html %}

<article id="article" class="wp">
    <h1 style="text-align: center;margin-top: 0px ;border-bottom: 2px #000 solid;position:relative;" class="clearfix">
        <span class="date ardate"
              style="position:absolute;bottom:0;right:0">{{ page.date | date: "%Y年/%m月/%d日" }}</span>
        <p style="overflow:hidden;margin-bottom: 0px">
            <a class="fr ba" href="/">首页</a><a class="fl ba" onclick="window.history.back()">回退</a></p>
        <p> {{page.title}}</p>
    </h1>
    {{content}}
</article>


{% include foot.html %}
