<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link rel="stylesheet" href="http://www.codingbaby.com/main.css"/>
    <link rel="stylesheet" href="http://www.codingbaby.com/code.css"/>
    <title>{{page.title}}</title>
    <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
</head>

<body>

<section id="head_section" class="wp clearfix">
    <div id="photo-container" class="fl">
        <a href="/"><img src="http://www.codingbaby.com/images/baby.jpg"/></a>
    </div>
    <div class="theme-topic">在信息时代，如果你想研发什么新的技术，你不需要几百万美元的资金，你只需要在冰箱里放满比萨和可乐，再有一台便宜的计算机，和与之献身的决心，你即可拥有任何你想拥有的编程境界！</div>
</section>

<div class="postion_control"><hr id="line"><div class="wp"><a href="http://www.codingbaby.com"></a><span id="arrow_panel"></span></div></div>

<article id="article" class="wp">

<h1>{{page.title}}</h1>

<h2>{{page.desc}}</h2>

{{content}}
</article>

<script>
    $(function () {
        $("#arrow_panel").bind("click", function () {
            $("#head_section").slideToggle();
            $(this).toggleClass("hover");
        });
    })
</script>

</body>
</html>
